body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #131a23;
}

h1 {
  color: white;
  background-color: #a5a7dd;
  padding: 10px 15px;
  text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 30px;
}

p {
	color: white;
	text-align: center;
}
a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #a5a7dd;
    color: white;
    border-radius: 5px;
}

footer {
	color: white;
    background-color: #a5a7dd;
    padding: 20px;
    text-align: center;
}
